@(custSession: CustomerSession, uploadForm: Form[CSVUpload], infosType: Int, infosContent: String)

@main("Qr Codes from CSV"){
	@header(custSession)
	<div class="container">
	@informations(infosType, infosContent)
		<div class="hero-unit">
			<div class="row">
				<div class="span12">
					<h2>Create your QrCodes from a csv document!</h2>
				</div>
			</div>
			<div class="row">
				<div class="span11" style="padding-top: 20px;">
					<h3> Two steps only</h3>
					<small>In this section you can directly create your QRCodes from a csv document. In just 2 steps generate the QRCodes for all your collaborators, products...</small>
				</div>
			</div>
			<div class="row">
				<div class="span11" style="padding-top: 10px;">
					@helper.form(action = routes.Upload.submit, 'enctype -> "multipart/form-data", 'id -> "form") {
					<fieldset>
						<legend><b>1. Parameters</b></legend><br/>
						<small>We need 2 informations about your document :  the name of your column of the redirection url and the caracter used to separate informations</small>
							@helper.inputText(uploadForm("urlRedirection"), '_label -> "Name of the redirection's column") 
							@helper.inputText(uploadForm("separator"), '_label -> "Separator") 
					</fieldset>
				</div>
			</div>
			<div class="row">
				<div class="span11">
					<fieldset>
						<legend><b>2. Select your file</b></legend><br/>
						<input type="file" name="file_input"/>
					</fieldset>
					}
				</div>
			</div>
			<div class="row" style="padding-top:3px;">
				<div class="span4 offset4">
						<input type="submit" class="btn-primary btn-large" name="submit" value="Upload"/>
				</div>
			</div>
		</div>
	</div>

<script type="text/javascript" >
$('.removePhone').live('click', function(e) {
            var titles = $(this).parents('.titles')
            $(this).parents('.title').remove()
            renumber(titles)
        })
        $('.removeProfile').live('click', function(e) {
            $(this).parents('.profile').remove()
            renumber()
        })
        
        $('.addPhone').live('click', function(e) {
            var titles = $(this).parents('.titles')
            var template = $('.phone_template', titles)
            template.before('<div class="clearfix title">' + template.html() + '</div>')
            renumber(titles)
            
        })
        $('.addProfile').live('click', function(e) {
            var template = $('.profile_template')
            template.before('<div class="twipsies well profile">' + template.html() + '</div>')
            renumber()
        })
        
        $('#form').submit(function() {
            $('.phone_template').remove()
            $('.profile_template').remove()
        })
        
         var renumber = function(titles) {
            $('.titles').each(function(i) {
                
                $('.title input', this).each(function(i) {
                    $(this).attr('name', $(this).attr('name').replace(/titles\[.+\]/g, 'titles[' + i + ']'))
                })
            })
        }
        </script>

    }
    
    
