@(signupForm: Form[User])

@import helper._
@import helper.twitterBootstrap._

@title = {
    Sign Up <small><a href="@routes.SignUp.edit">Or edit an existing user</a></small>
}

@main("Sign up!") {
    @header()   
    @helper.form(action = routes.SignUp.submit) {
	<div class="container">
	  <h1>Thanks for signing up to QRteam</h1>
	 <div class="row">

	  <div class="span6">        
		<fieldset>
		    <legend>Account informations</legend>
		    
		    @inputText(
		        signupForm("username"), 
		        '_label -> "Username", 
		        '_help -> "Please choose a valid username.",
		        '_error -> signupForm.globalError
		    )
		    
		    @inputText(
		        signupForm("email"), '_label -> "Email",
		        '_help -> "Enter a valid email address."
		    )
		    
		    @inputPassword(
		        signupForm("password"), 
		        '_label -> "Password",
		        '_help -> "A password must be at least 6 characters. "
		    )
		    
		    @inputPassword(
		        signupForm("repeatPassword"), 
		        '_label -> "Repeat password",
		        '_help -> "Please repeat your password again.",
		        '_error -> signupForm.error("password")
		    )
		    
		</fieldset>
		
		<fieldset>
		    
		    <legend>Contact informations</legend>
		    
		    @select(
		        signupForm("profile.country"), 
		        options = options(Countries.list),
		        '_default -> "--- Choose a country ---",
		        '_label -> "Country",
		        '_error -> signupForm("profile.country").error.map(_.withMessage("Please select your country"))
		    )
		    
		    @inputText(
		        signupForm("profile.lastName"), 
		        '_label -> "lastName"
		    )
		    
		    @inputText(
		        signupForm("profile.firstName"), 
		        '_label -> "firstName"
		    )

		    @inputText(
		        signupForm("profile.firm"), 
		        '_label -> "firm"
		    )
		      
		</fieldset>
		
		<fieldset>
		    
		    @checkbox(
		        signupForm("accept"), 
		        '_label -> None, '_text -> "You aggree the Terms and conditions",
		        '_showConstraints -> false
		    )
		    
		</fieldset>
		
		<div class="actions">
		    <input type="submit" class="btn primary" value="Sign Up">
		    <a href="@routes.Application.index" class="btn">Cancel</a>
		</div>
	  </div>
	 </div>
	</div>        
    }
    
}
