@(custSession: CustomerSession, infosType: Int, infosContent: String)

@import helper._
@import helper.twitterBootstrap._

@main("QR Team") {

@header(custSession)

<div class="container">
	@informations(infosType, infosContent)
	<div class="hero-unit">
		<div class="page-header">
			<p><h1>QR Team<small> a team dedicated to a project</small></h1></p>
		</div>
		<div class="row-fluid">
		
			<div class="span3">
				<img src="@routes.Assets.at("images/Logo-TPT.jpg")" alt="" width="130px"/>
			</div>
			<div class="span9" align="justify">
				<h2>Quentin Plessis</h2>
				<address>
		        <strong></strong><br>
		        795 Folsom Ave, Suite 600<br>
		        San Francisco, CA 94107<br>
		        <abbr title="Phone">P:</abbr> (123) 456-7890<br>
		        mail@@mail.com
		      </address>
			</div>
		</div>	
		<div class="row-fluid">
			<div class="span3">
				<img src="@routes.Assets.at("images/Logo-TPT.jpg")" alt="" width="130px"/>
			</div>
			<div class="span9" align="justify">
				<h2>Stephane Maire</h2>
				<address>
		        <strong></strong><br>
		        795 Folsom Ave, Suite 600<br>
		        San Francisco, CA 94107<br>
		        <abbr title="Phone">P:</abbr> (123) 456-7890<br>
		        mail@@mail.com
		      </address>
			</div>	
		</div>
		<div class="row-fluid">
			<div class="span3">
				<img src="@routes.Assets.at("images/Logo-TPT.jpg")" alt="" width="130px"/>
			</div>
			<div class="span9" align="justify">
				<h2>Ferdinand Pierrot</h2>
				<address>
		        <strong></strong><br>
		        795 Folsom Ave, Suite 600<br>
		        San Francisco, CA 94107<br>
		        <abbr title="Phone">P:</abbr> (123) 456-7890<br>
		        mail@@mail.com
		      </address>
			</div>	
		</div>
		<div class="row-fluid">
			<div class="span3">
				<img src="@routes.Assets.at("images/Logo-TPT.jpg")" alt="" width="130px"/>
			</div>
			<div class="span9" align="justify">
				<h2>Mehdi Belhadj</h2>
				<address>
		        <strong></strong><br>
		        795 Folsom Ave, Suite 600<br>
		        San Francisco, CA 94107<br>
		        <abbr title="Phone">P:</abbr> (123) 456-7890<br>
		        mail@@mail.com
		      </address>
			</div>	
		</div>

		







</div>

}
