@(custSession : CustomerSession)

@import helper._
@import helper.twitterBootstrap._

<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
		<a class="brand" href="@routes.Application.index()">QR Team Project</a>
			<ul class="nav">
  				<li class="active">
   			 		<a href="@routes.Application.index()">Home</a>
  				</li>
  				<li >
   			 		<a href="@routes.Application.overview()">Overview</a>
  				</li>
  				<li>
					<a href="@routes.Application.createQr()">Create a Qr Code</a>
				</li>
  				<li class="dropdown">
					<a href="/myQrTable" class="dropdown-toggle" data-toggle="dropdown">My QrCodes<b class="caret"></b></a>
    					<ul class="dropdown-menu">  					
    					</ul>		
  				</li>
  				<li>
					<a href="@routes.Application.contact()">Contact</a>
				</li>
				<li>
					<form class="navbar-search pull-left">
						<input type="text" class="search-query span2" placeholder="Search">
					</form>
				</li>
			</ul>
			
			<ul class="nav pull-right">
				@if(custSession == null) {
					<li>
						<a href="@routes.Login.auth1" class="btn-success">Google</a>
					</li>
					<li>
						<ul>
							<li><a href="@routes.Login.auth2" class="btn-info">Facebook</a></li>
						</ul>
					</li>
				}else {
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">@(custSession.getLogin())<b class="caret"></b></a>
						<ul class="dropdown-menu"> 
							<li>
								<div class="actions">
									<a href="@routes.Login.edit" class="btn primary">Edit my Profile</a>
									<a href="@routes.Login.logout" class="btn primary">Log out</a>
								</div>
							</li>
						</ul>
					</li>
				}
			</ul>
			
		</div>
	</div>
</div>
