@(custSession: CustomerSession, loginForm: Form[Client], infosType: Int, infosContent: String)

@import helper._
@import helper.twitterBootstrap._


@main("QR Team") {

@header(loginForm, custSession)

<div class="container">
	@informations(infosType, infosContent)
	<div class="row">
		<div class="span12"><img src="@routes.Assets.at("images/header.png")" alt="header" height="30%" width="100%" style="margin-bottom:10px;"/></div>
	</div>
	<div class="hero-unit">
		<p><h1>QR Team Project</h1></p>
		<p>Think QrCode in a different way. It's a whole new world beyond the QrCode.</p>
		<div class="row-fluid">
			<div class="span4" align="justify"><h2>1. Subscribe</h2>Join a large community of new advertisers! New possibilities through QrCodes. Develop your business. Improve your workflow. Be more efficient. 
			Keep in touch with your client.</div>
			<div class="span4" align="justify"><h2>2. Create</h2>Once logged in, create highly customiable QrCodes. Choose the content they are redirecting to. Batch create dozens of QrCodes through CSV Files. </div>
			<div class="span4" align="justify"><h2>3. Manage</h2>
			Manage all your QrCodes in one single interface.
			Get invaluable statistics on your QrCodes. 
			Which ones are scanned? Where? How many times?</div>
		</div>
	</div>




<div class="span5">

</div>

</div>

}
