@(urlForm: Form[models.Url])

@import helper._
@import helper.twitterBootstrap._



@main("Todo list") {

@header()

<div class="container">
<div class="hero-unit">
<p><h1>QR Team Project</h1></p>
<p>Think QrCode in a different way. It's a whole new world beyond the QrCode</p>
<div class="row-fluid">
<div class="span4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ligula lorem, interdum id blandit in, lobortis non enim. 
Integer volutpat arcu ut est placerat lobortis rhoncus ligula sollicitudin. Sed sit amet sagittis metus. Cras non metus venenatis lectus semper varius ac in velit. 
Etiam ac eros mi. Curabitur suscipit faucibus.</div>
<div class="span4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ligula lorem, interdum id blandit in, lobortis non enim. 
Integer volutpat arcu ut est placerat lobortis rhoncus ligula sollicitudin. Sed sit amet sagittis metus. Cras non metus venenatis lectus semper varius ac in velit. 
Etiam ac eros mi. Curabitur suscipit faucibus.</div>
<div class="span4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ligula lorem, interdum id blandit in, lobortis non enim. 
Integer volutpat arcu ut est placerat lobortis rhoncus ligula sollicitudin. Sed sit amet sagittis metus. Cras non metus venenatis lectus semper varius ac in velit. 
Etiam ac eros mi. Curabitur suscipit faucibus.</div>
</div>
</div>


<div class="hero-unit">


	<p>Think QrCode in a different way. It's a whole new world beyond the QrCode</p>
  
  
  <div>
    
                    
@form(action = routes.Application.getUrl, args = 'id -> "urlForm") {
@inputText(
            field = urlForm("url"),
            args = '_label -> "", 'placeholder -> "Type your first Url"
        )
	<input type="submit" class="btn-primary btn-large">
	}

</div> <!-- End of 7-columns block-->
</div>
<div class="span5">

</div>


}
