@(custSession: CustomerSession, qrs:QrArray, infosType: Int, infosContent: String)

@import helper._
@import helper.twitterBootstrap._

@main("My Qr Codes") {
	
	@header(custSession)
	
	<div class="container">
		@informations(infosType, infosContent)
		<div class="row">
			<div class="span4"></div>
			<div class="span8">
				@if(qrs != null && qrs.size() > 0) {
					You currently have @qrs.getNumber() Qrcodes.<br/>
					@form(action = routes.QrTable.submit) {
						<table class="table table-striped">
							<thead>
								<tr>
									<th></th>
									<th>Title</th>
									<th>Place</th>
									<th>Redirection</th>
									<th>Creation date</th>
									<th>Flashs</th>
									<th>Modify</th>
								</tr>
							</thead>
							<tbody>
								@for(qrcode <- qrs) {
									<tr>
										<td><input type="checkbox" id="checkqr_@qrcode.getId()" /></td>
										<td>@qrcode.getTitle()</td>
										<td>@qrcode.getPlace()</td>
										<td><a href="@qrcode.getRedirection()">@qrcode.getRedirection()</a></td>
										<td>@qrcode.getCreationDate()</td>
										<td>@qrcode.getFlashs()</td>
										<td><a href="@routes.MyQr.viewQr(qrcode.getId())">Modify</a></td>
										<td><a href="@routes.MyQr.removeQr(qrcode.getId())">Delete</a></td>
									</tr>
								}
							</tbody>
						</table>
						<div class="btn-toolbar">
						  <div class="btn-group">
							@for( i <- qrs.getPages()) {
								<a class="btn" href="@routes.QrTable.viewPage(i-1)">@i</a>
							}
							<!--<a class="btn" href="@routes.QrTable.viewPage(2)">2</a>
							<a class="btn" href="@routes.QrTable.viewPage(3)">3</a>
							<a class="btn">...</a>
							<a class="btn" href="@routes.QrTable.viewPage(98)">98</a>
							<a class="btn" href="@routes.QrTable.viewPage(99)">99</a>
							<a class="btn" href="@routes.QrTable.viewPage(100)">100</a>-->
						  </div>
						</div><br/>
						<input type="submit" value="Delete" action="delete" />
					}
				}else {
					@if(qrs != null) {
						<p>You don't have any QrCodes yet ! <a href="@routes.Application.createQr">Go create one now !</a></p>
					}
				}
			</div>
		</div>
	</div>
}
